body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.filter-container {
    margin-bottom: 20px;
}

.filter-bar {
    display: grid;
    grid-template-columns: auto auto;
}

.filter-off, .filter-on {
    width: 64px;
    margin: 5px;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 5px;
}

.filter-off {
    background-color: rgb(32, 32, 32);
    opacity: 0.5;
}

.filter-off:hover, .filter-on:hover {
    box-shadow: 0 0 2px 1px dodgerblue;
}

.filter-on {
    background-color: dodgerblue;
    opacity: 1;
}

.char-display {
    display: flex;
    justify-content: center;
    align-content: center;
}

.char-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.char-card {
    width: 285px;
    height: 870px; 
    margin: 10px;
}

.char-card-front, .char-card-back {
    border: 2px solid gray;
    border-radius: 15px;
    position: absolute;
    width: inherit;
    height: inherit;
    padding-top: 10px;
    backface-visibility: hidden;
    text-align: center;
    color: black;
    background-color: #ccc;
}

.char-card-back {
    transform: rotateY(180deg);
}

.rating-img {
    height: 25px;
}

.materials {
    display: grid;
    grid-template-columns: auto auto auto;
}

.material-container {
    margin: 5px;
}

.material-container .material-tooltip {
    visibility: hidden;
    position: absolute;
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: #bbb;
    padding: 5px;
    margin-top: -30px;
}

.material-container:hover .material-tooltip {
    visibility: visible;
}

.material-img-back {
    border: 2px solid gray;
    border-radius: 15px;
    background-color: #bbb;
    margin: 5px;
    height: 64px;
    width: 64px;
}

.nation-img {
    margin-top: 5px;
    margin-bottom: 2px;
    height: 64px;
}

.char-title {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin: 5px;
}

.char-desc {
    margin-left: 7.5px;
    margin-right: 7.5px;
    font-style: italic;
}